Jitsi update ervaring zonder ansible

Based on our current Jitsi Meet environment (installed in March 2020) I've performed an update (without using Ansible) to see what would happen now. As far as I can tell there is no prescribed methodology for updatting Jitsi Meet, therefor I've adhered to the default update process on Ubuntu: 

1. `sudo apt update`  ( jitsi packages are 'withheld' by apt).  
2. `sudo apt install jitsi-meet` (see log for details) 

**Observations**
AFAICT there is no changelog or documentation on the site describing the changes between version except for a blog post without much details. Based on the log & poking around in the new install I observe the following things: 

- a TURN server is installed (not active afaict on our system), package names are: jitsi-meet-turnserver, coturn. Including a Adding a group `turnserver' and a system user `turnserver'.
- a jitsi-meet-web-config package is installed
- the jitsi-videobridge is removed, which dpkg considers an issue: 
`"dpkg: jitsi-videobridge: dependency problems, but removing anyway as you requested:
 jitsi-meet depends on jitsi-videobridge (= 1126-1)."`

- System changes are applied. 
I've looked them up: 

1. `Applying /etc/sysctl.d/10-console-messages.conf ...
kernel.printk = 4 4 1 7`
> The four values in printk denote: console_loglevel,
> default_message_loglevel, minimum_console_loglevel and
> default_console_loglevel respectively.
> 
> These values influence printk() behavior when printing or
> logging error messages. See 'man 2 syslog' for more info on
> the different loglevels.
> 
> - console_loglevel: messages with a higher priority than
>   this will be printed to the console
> - default_message_loglevel: messages without an explicit priority
>   will be printed with this priority
> - minimum_console_loglevel: minimum (highest) value to which
>   console_loglevel can be set
> - default_console_loglevel: default value for console_loglevel
[source](https://www.kernel.org/doc/Documentation/sysctl/kernel.txt)

2. `Applying /etc/sysctl.d/10-ipv6-privacy.conf ...
net.ipv6.conf.all.use_tempaddr = 2
net.ipv6.conf.default.use_tempaddr = 2`

>  enable IPv6 privacy extension on Ubuntu Linux
> 
> By default, the Ubuntu-Linux network stack for IPv6 only configures static IPv6 addresses built from the network prefix and the hardware address of the network card (MAC-Address).
> Problem:
> 
> This IPv6 addresses are stable and will not change over time as long as the network card is not replaced. This can lead to privacy issues, as the static IPv6 address can be tracked by outside parties (external websites).
> Solution
> 
> The IPv6 standards define an algorithm to generate temporary random IPv6 addresses that are less traceable over time. This is documented in RFC 4941 "Privacy Extensions for Stateless Address Autoconfiguration in IPv6".
> 
> In Ubuntu-Linux, privacy extensions for IPv6 are disabled by default. To enable them, edit the file "/etc/sysctl.conf" 
[source](https://docs.menandmice.com/display/MM/enable+IPv6+privacy+extension+on+Ubuntu+Linux)


> use_tempaddr - INTEGER
> 	Preference for Privacy Extensions (RFC3041).
> 	  <= 0 : disable Privacy Extensions
> 	  == 1 : enable Privacy Extensions, but prefer public
> 	         addresses over temporary addresses.
> 	  >  1 : enable Privacy Extensions and prefer temporary
> 	         addresses over public addresses.
> 	Default:  0 (for most devices)
> 		 -1 (for point-to-point devices and loopback devices)
[source](https://www.kernel.org/doc/html/latest/networking/ip-sysctl.html?highlight=use_tempaddr)

3. `Applying /etc/sysctl.d/10-kernel-hardening.conf ...
kernel.kptr_restrict = 1`

> This toggle indicates whether restrictions are placed on exposing kernel addresses via /proc and other interfaces.
> 
> When kptr_restrict is set to 0 (the default) the address is hashed before printing. (This is the equivalent to %p.)
> 
> When kptr_restrict is set to 1, kernel pointers printed using the %pK format specifier will be replaced with 0s unless the user has CAP_SYSLOG and effective user and group ids are equal to the real ids. This is because %pK checks are done at read() time rather than open() time, so if permissions are elevated between the open() and the read() (e.g via a setuid binary) then %pK will not leak kernel pointers to unprivileged users. Note, this is a temporary solution only. The correct long-term solution is to do the permission checks at open() time. Consider removing world read permissions from files that use %pK, and using dmesg_restrict to protect against uses of %pK in dmesg(8) if leaking kernel pointer values to unprivileged users is a concern.
> 
> When kptr_restrict is set to 2, kernel pointers printed using %pK will be replaced with 0s regardless of privileges.
[source](https://www.kernel.org/doc/html/latest/admin-guide/sysctl/kernel.html?highlight=kernel%20kptr_restrict#kptr-restrict)

4. `Applying /etc/sysctl.d/10-link-restrictions.conf ...
fs.protected_hardlinks = 1
fs.protected_symlinks = 1`

> protected_hardlinks
> A long-standing class of security issues is the hardlink-based time-of-check-time-of-use race, most commonly seen in world-writable directories like /tmp. The common method of exploitation of this flaw is to cross privilege boundaries when following a given hardlink (i.e. a root process follows a hardlink created by another user). Additionally, on systems without separated partitions, this stops unauthorized users from “pinning” vulnerable setuid/setgid files against being upgraded by the administrator, or linking to special files.
> 
> When set to “0”, hardlink creation behavior is unrestricted.
> 
> When set to “1” hardlinks cannot be created by users if they do not already own the source file, or do not have read/write access to it.
> 
> This protection is based on the restrictions in Openwall and grsecurity.
[source](https://www.kernel.org/doc/html/latest/admin-guide/sysctl/fs.html?highlight=protected_hardlinks#protected-hardlinks)

> protected_symlinks
> 
> A long-standing class of security issues is the symlink-based time-of-check-time-of-use race, most commonly seen in world-writable directories like /tmp. The common method of exploitation of this flaw is to cross privilege boundaries when following a given symlink (i.e. a root process follows a symlink belonging to another user). For a likely incomplete list of hundreds of examples across the years, please see: http://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=/tmp
> 
> When set to “0”, symlink following behavior is unrestricted.
> 
> When set to “1” symlinks are permitted to be followed only when outside a sticky world-writable directory, or when the uid of the symlink and follower match, or when the directory owner matches the symlink’s owner.
> 
> This protection is based on the restrictions in Openwall and grsecurity.
[source](https://www.kernel.org/doc/html/latest/admin-guide/sysctl/fs.html?highlight=protected_hardlinks#protected-symlinks)

5. `Applying /etc/sysctl.d/10-lxd-inotify.conf ...
fs.inotify.max_user_instances = 1024`

> This specifies an upper limit on the number of inotify
>               instances that can be created per real user ID.
[source](https://man7.org/linux/man-pages/man7/inotify.7.html)

6. `Applying /etc/sysctl.d/10-magic-sysrq.conf ...
kernel.sysrq = 176`

>  Enable Linux Magic System Request Key Hacks and set this to 
>  128    reboot/poweroff
>   32    remount read-only
>   16   sync command
>  176
[thanks](https://forums.opensuse.org/showthread.php/464135-11-4-Magic-SysRq-key-code-176-and-that-means?s=3e233ca38547e84ddab17348bd2e64f0&p=2375108#post2375108)
[reference](https://www.kernel.org/doc/html/latest/admin-guide/sysrq.html)

7. `Applying /etc/sysctl.d/10-network-security.conf ...
net.ipv4.conf.default.rp_filter = 1
net.ipv4.conf.all.rp_filter = 1
net.ipv4.tcp_syncookies = 1`

> rp_filter - INTEGER
> 
>         0 - No source validation.
>         1 - Strict mode as defined in RFC3704 Strict Reverse Path Each incoming packet is tested against the FIB and if the interface is not the best reverse path the packet check will fail. By default failed packets are discarded.
>         2 - Loose mode as defined in RFC3704 Loose Reverse Path Each incoming packet’s source address is also tested against the FIB and if the source address is not reachable via any interface the packet check will fail.
> 
>     Current recommended practice in RFC3704 is to enable strict mode to prevent IP spoofing from DDos attacks. If using asymmetric routing or other complicated routing, then loose mode is recommended.
> 
>     The max value from conf/{all,interface}/rp_filter is used when doing source validation on the {interface}.
> 
>     Default value is 0. Note that some distributions enable it in startup scripts.
[source](https://www.kernel.org/doc/html/latest/networking/ip-sysctl.html?highlight=rp_filter)

> tcp_syncookies - INTEGER
> 
>     Only valid when the kernel was compiled with CONFIG_SYN_COOKIES Send out syncookies when the syn backlog queue of a socket overflows. This is to prevent against the common ‘SYN flood attack’ Default: 1
> 
>     Note, that syncookies is fallback facility. It MUST NOT be used to help highly loaded servers to stand against legal connection rate. If you see SYN flood warnings in your logs, but investigation shows that they occur because of overload with legal connections, you should tune another parameters until this warning disappear. See: tcp_max_syn_backlog, tcp_synack_retries, tcp_abort_on_overflow.
> 
>     syncookies seriously violate TCP protocol, do not allow to use TCP extensions, can result in serious degradation of some services (f.e. SMTP relaying), visible not by you, but your clients and relays, contacting you. While you see SYN flood warnings in logs not being really flooded, your server is seriously misconfigured.
> 
>     If you want to test which effects syncookies have to your network connections you can set this knob to 2 to enable unconditionally generation of syncookies.
[source](https://www.kernel.org/doc/html/latest/networking/ip-sysctl.html?highlight=tcp_syncookies)

8. `Applying /etc/sysctl.d/10-ptrace.conf ...
kernel.yama.ptrace_scope = 1`

> ptrace_scope
> 
> As Linux grows in popularity, it will become a larger target for malware. One particularly troubling weakness of the Linux process interfaces is that a single user is able to examine the memory and running state of any of their processes. For example, if one application (e.g. Pidgin) was compromised, it would be possible for an attacker to attach to other running processes (e.g. Firefox, SSH sessions, GPG agent, etc) to extract additional credentials and continue to expand the scope of their attack without resorting to user-assisted phishing.
> 
> This is not a theoretical problem. SSH session hijacking (http://www.storm.net.nz/projects/7) and arbitrary code injection (http://c-skills.blogspot.com/2007/05/injectso.html) attacks already exist and remain possible if ptrace is allowed to operate as before. Since ptrace is not commonly used by non-developers and non-admins, system builders should be allowed the option to disable this debugging system.
> 
> For a solution, some applications use prctl(PR_SET_DUMPABLE, ...) to specifically disallow such ptrace attachment (e.g. ssh-agent), but many do not. A more general solution is to only allow ptrace directly from a parent to a child process (i.e. direct “gdb EXE” and “strace EXE” still work), or with CAP_SYS_PTRACE (i.e. “gdb –pid=PID”, and “strace -p PID” still work as root).
> 
> In mode 1, software that has defined application-specific relationships between a debugging process and its inferior (crash handlers, etc), prctl(PR_SET_PTRACER, pid, ...) can be used. An inferior can declare which other process (and its descendants) are allowed to call PTRACE_ATTACH against it. Only one such declared debugging process can exists for each inferior at a time. For example, this is used by KDE, Chromium, and Firefox’s crash handlers, and by Wine for allowing only Wine processes to ptrace each other. If a process wishes to entirely disable these ptrace restrictions, it can call prctl(PR_SET_PTRACER, PR_SET_PTRACER_ANY, ...) so that any otherwise allowed process (even those in external pid namespaces) may attach.
> 
> The sysctl settings (writable only with CAP_SYS_PTRACE) are:
> 
> 0 - classic ptrace permissions:
>     a process can PTRACE_ATTACH to any other process running under the same uid, as long as it is dumpable (i.e. did not transition uids, start privileged, or have called prctl(PR_SET_DUMPABLE...) already). Similarly, PTRACE_TRACEME is unchanged.
> 1 - restricted ptrace:
>     a process must have a predefined relationship with the inferior it wants to call PTRACE_ATTACH on. By default, this relationship is that of only its descendants when the above classic criteria is also met. To change the relationship, an inferior can call prctl(PR_SET_PTRACER, debugger, ...) to declare an allowed debugger PID to call PTRACE_ATTACH on the inferior. Using PTRACE_TRACEME is unchanged.
> 2 - admin-only attach:
>     only processes with CAP_SYS_PTRACE may use ptrace, either with PTRACE_ATTACH or through children calling PTRACE_TRACEME.
> 3 - no attach:
>     no processes may use ptrace with PTRACE_ATTACH nor via PTRACE_TRACEME. Once set, this sysctl value cannot be changed.
> 
> The original children-only logic was based on the restrictions in grsecurity.
[source](https://www.kernel.org/doc/html/latest/admin-guide/LSM/Yama.html?highlight=ptrace_scope)

9. `Applying /etc/sysctl.d/10-zeropage.conf ...
vm.mmap_min_addr = 65536`

> mmap_min_addr
> 
> This file indicates the amount of address space which a user process will be restricted from mmapping. Since kernel null dereference bugs could accidentally operate based on the information in the first couple of pages of memory userspace processes should not be allowed to write to them. By default this value is set to 0 and no protections will be enforced by the security module. Setting this value to something like 64k will allow the vast majority of applications to work correctly and provide defense in depth against future potential kernel bugs.
[source](https://www.kernel.org/doc/html/latest/admin-guide/sysctl/vm.html?highlight=mmap_min_addr#mmap-min-addr)

10.`Applying /etc/sysctl.d/20-jvb-udp-buffers.conf ...
net.core.rmem_max = 10485760
net.core.netdev_max_backlog = 100000`
 
> 
> rmem_max
> 
> The maximum receive socket buffer size in bytes.
[source](https://www.kernel.org/doc/html/latest/admin-guide/sysctl/net.html?highlight=rmem_max#rmem-max)

> netdev_max_backlog
> 
> Maximum number of packets, queued on the INPUT side, when the interface receives packets faster than kernel can process them.
[source](https://www.kernel.org/doc/html/latest/admin-guide/sysctl/net.html?highlight=netdev_max_backlog#netdev-max-backlog)

11. `Applying /usr/lib/sysctl.d/50-default.conf ...
net.ipv4.conf.all.promote_secondaries = 1
net.core.default_qdisc = fq_codel` 

> promote_secondaries - BOOLEAN
>     When a primary IP address is removed from this interface promote a corresponding secondary IP address instead of removing all the corresponding secondary IP addresses.
[source](https://www.kernel.org/doc/html/latest/networking/ip-sysctl.html?highlight=promote_secondaries) 

> default_qdisc
> 
> The default queuing discipline to use for network devices. This allows overriding the default of pfifo_fast with an alternative. Since the default queuing discipline is created without additional parameters so is best suited to queuing disciplines that work well without configuration like stochastic fair queue (sfq), CoDel (codel) or fair queue CoDel (fq_codel). Don’t use queuing disciplines like Hierarchical Token Bucket or Deficit Round Robin which require setting up classes and bandwidths. Note that physical multiqueue interfaces still use mq as root qdisc, which in turn uses this default for its leaves. Virtual devices (like e.g. lo or veth) ignore this setting and instead default to noqueue.
> 
> Default: pfifo_fast
[source](https://www.kernel.org/doc/html/latest/admin-guide/sysctl/net.html?highlight=default_qdisc#default-qdisc)

Complete log (including etckeeper committing changes)
```
bjorn@XX-XX-XX-XX:~$ sudo apt install jitsi-meet
[sudo] password for bjorn: 
Reading package lists... Done
Building dependency tree       
Reading state information... Done
The following additional packages will be installed:
  coturn jicofo jitsi-meet-prosody jitsi-meet-turnserver jitsi-meet-web jitsi-meet-web-config jitsi-videobridge2 libevent-core-2.1-6 libevent-extra-2.1-6 libevent-openssl-2.1-6 libevent-pthreads-2.1-6 libhiredis0.13 libmysqlclient20 libpq5 mysql-common
Suggested packages:
  sip-router
The following packages will be REMOVED:
  jitsi-videobridge
The following NEW packages will be installed:
  coturn jitsi-meet-turnserver jitsi-videobridge2 libevent-core-2.1-6 libevent-extra-2.1-6 libevent-openssl-2.1-6 libevent-pthreads-2.1-6 libhiredis0.13 libmysqlclient20 libpq5 mysql-common
The following packages will be upgraded:
  jicofo jitsi-meet jitsi-meet-prosody jitsi-meet-web jitsi-meet-web-config
5 upgraded, 11 newly installed, 1 to remove and 0 not upgraded.
Need to get 92.5 MB of archives.
After this operation, 36.6 MB of additional disk space will be used.
Do you want to continue? [Y/n] y
Get:1 http://mirror.transip.net/ubuntu/ubuntu bionic/main amd64 libevent-core-2.1-6 amd64 2.1.8-stable-4build1 [85.9 kB]
Get:2 http://mirror.transip.net/ubuntu/ubuntu bionic/main amd64 libevent-extra-2.1-6 amd64 2.1.8-stable-4build1 [56.2 kB]
Get:3 http://mirror.transip.net/ubuntu/ubuntu bionic/main amd64 libevent-openssl-2.1-6 amd64 2.1.8-stable-4build1 [11.8 kB]
Get:4 http://mirror.transip.net/ubuntu/ubuntu bionic/main amd64 libevent-pthreads-2.1-6 amd64 2.1.8-stable-4build1 [5,228 B]
Get:5 http://mirror.transip.net/ubuntu/ubuntu bionic/universe amd64 libhiredis0.13 amd64 0.13.3-2.2 [25.3 kB]
Get:6 http://mirror.transip.net/ubuntu/ubuntu bionic/main amd64 mysql-common all 5.8+1.0.4 [7,308 B]
Get:7 http://mirror.transip.net/ubuntu/ubuntu bionic-updates/main amd64 libmysqlclient20 amd64 5.7.30-0ubuntu0.18.04.1 [690 kB]
Get:8 http://mirror.transip.net/ubuntu/ubuntu bionic-updates/main amd64 libpq5 amd64 10.12-0ubuntu0.18.04.1 [107 kB]
Get:9 http://mirror.transip.net/ubuntu/ubuntu bionic-updates/universe amd64 coturn amd64 4.5.0.7-1ubuntu2.18.04.1 [320 kB]
Get:10 https://download.jitsi.org stable/ jitsi-videobridge2 2.1-202-g5f9377b9-1 [33.3 MB]
Get:11 https://download.jitsi.org stable/ jitsi-meet 2.0.4627-1 [2,864 B]
Get:12 https://download.jitsi.org stable/ jicofo 1.0-589-1 [50.8 MB]
Get:13 https://download.jitsi.org stable/ jitsi-meet-web 1.0.4127-1 [7,013 kB]                                                                                                                                                                                                           
Get:14 https://download.jitsi.org stable/ jitsi-meet-web-config 1.0.4127-1 [13.8 kB]                                                                                                                                                                                                     
Get:15 https://download.jitsi.org stable/ jitsi-meet-prosody 1.0.4127-1 [36.8 kB]                                                                                                                                                                                                        
Get:16 https://download.jitsi.org stable/ jitsi-meet-turnserver 1.0.4127-1 [6,052 B]                                                                                                                                                                                                     
Fetched 92.5 MB in 12s (7,629 kB/s)                                                                                                                                                                                                                                                      
Preconfiguring packages ...
dpkg: jitsi-videobridge: dependency problems, but removing anyway as you requested:
 jitsi-meet depends on jitsi-videobridge (= 1126-1).

(Reading database ... 116676 files and directories currently installed.)
Removing jitsi-videobridge (1126-1) ...
Selecting previously unselected package jitsi-videobridge2.
(Reading database ... 116555 files and directories currently installed.)
Preparing to unpack .../jitsi-videobridge2_2.1-202-g5f9377b9-1_all.deb ...
Unpacking jitsi-videobridge2 (2.1-202-g5f9377b9-1) ...
Setting up jitsi-videobridge2 (2.1-202-g5f9377b9-1) ...
Installing new version of config file /etc/jitsi/videobridge/logging.properties ...
* Applying /etc/sysctl.d/10-console-messages.conf ...
kernel.printk = 4 4 1 7
* Applying /etc/sysctl.d/10-ipv6-privacy.conf ...
net.ipv6.conf.all.use_tempaddr = 2
net.ipv6.conf.default.use_tempaddr = 2
* Applying /etc/sysctl.d/10-kernel-hardening.conf ...
kernel.kptr_restrict = 1
* Applying /etc/sysctl.d/10-link-restrictions.conf ...
fs.protected_hardlinks = 1
fs.protected_symlinks = 1
* Applying /etc/sysctl.d/10-lxd-inotify.conf ...
fs.inotify.max_user_instances = 1024
* Applying /etc/sysctl.d/10-magic-sysrq.conf ...
kernel.sysrq = 176
* Applying /etc/sysctl.d/10-network-security.conf ...
net.ipv4.conf.default.rp_filter = 1
net.ipv4.conf.all.rp_filter = 1
net.ipv4.tcp_syncookies = 1
* Applying /etc/sysctl.d/10-ptrace.conf ...
kernel.yama.ptrace_scope = 1
* Applying /etc/sysctl.d/10-zeropage.conf ...
vm.mmap_min_addr = 65536
* Applying /etc/sysctl.d/20-jvb-udp-buffers.conf ...
net.core.rmem_max = 10485760
net.core.netdev_max_backlog = 100000
* Applying /usr/lib/sysctl.d/50-default.conf ...
net.ipv4.conf.all.promote_secondaries = 1
net.core.default_qdisc = fq_codel
* Applying /etc/sysctl.d/99-sysctl.conf ...
* Applying /etc/sysctl.conf ...
Created symlink /etc/systemd/system/multi-user.target.wants/jitsi-videobridge2.service → /lib/systemd/system/jitsi-videobridge2.service.
(Reading database ... 116695 files and directories currently installed.)
Preparing to unpack .../00-jitsi-meet_2.0.4627-1_all.deb ...
Unpacking jitsi-meet (2.0.4627-1) over (1.0.4101-1) ...
Preparing to unpack .../01-jicofo_1.0-589-1_all.deb ...
Unpacking jicofo (1.0-589-1) over (1.0-508-1) ...
Preparing to unpack .../02-jitsi-meet-web_1.0.4127-1_all.deb ...
Unpacking jitsi-meet-web (1.0.4127-1) over (1.0.3729-1) ...
Preparing to unpack .../03-jitsi-meet-web-config_1.0.4127-1_all.deb ...
Unpacking jitsi-meet-web-config (1.0.4127-1) over (1.0.3729-1) ...
Preparing to unpack .../04-jitsi-meet-prosody_1.0.4127-1_all.deb ...
Unpacking jitsi-meet-prosody (1.0.4127-1) over (1.0.3729-1) ...
Selecting previously unselected package libevent-core-2.1-6:amd64.
Preparing to unpack .../05-libevent-core-2.1-6_2.1.8-stable-4build1_amd64.deb ...
Unpacking libevent-core-2.1-6:amd64 (2.1.8-stable-4build1) ...
Selecting previously unselected package libevent-extra-2.1-6:amd64.
Preparing to unpack .../06-libevent-extra-2.1-6_2.1.8-stable-4build1_amd64.deb ...
Unpacking libevent-extra-2.1-6:amd64 (2.1.8-stable-4build1) ...
Selecting previously unselected package libevent-openssl-2.1-6:amd64.
Preparing to unpack .../07-libevent-openssl-2.1-6_2.1.8-stable-4build1_amd64.deb ...
Unpacking libevent-openssl-2.1-6:amd64 (2.1.8-stable-4build1) ...
Selecting previously unselected package libevent-pthreads-2.1-6:amd64.
Preparing to unpack .../08-libevent-pthreads-2.1-6_2.1.8-stable-4build1_amd64.deb ...
Unpacking libevent-pthreads-2.1-6:amd64 (2.1.8-stable-4build1) ...
Selecting previously unselected package libhiredis0.13:amd64.
Preparing to unpack .../09-libhiredis0.13_0.13.3-2.2_amd64.deb ...
Unpacking libhiredis0.13:amd64 (0.13.3-2.2) ...
Selecting previously unselected package mysql-common.
Preparing to unpack .../10-mysql-common_5.8+1.0.4_all.deb ...
Unpacking mysql-common (5.8+1.0.4) ...
Selecting previously unselected package libmysqlclient20:amd64.
Preparing to unpack .../11-libmysqlclient20_5.7.30-0ubuntu0.18.04.1_amd64.deb ...
Unpacking libmysqlclient20:amd64 (5.7.30-0ubuntu0.18.04.1) ...
Selecting previously unselected package libpq5:amd64.
Preparing to unpack .../12-libpq5_10.12-0ubuntu0.18.04.1_amd64.deb ...
Unpacking libpq5:amd64 (10.12-0ubuntu0.18.04.1) ...
Selecting previously unselected package coturn.
Preparing to unpack .../13-coturn_4.5.0.7-1ubuntu2.18.04.1_amd64.deb ...
Unpacking coturn (4.5.0.7-1ubuntu2.18.04.1) ...
Setting up jitsi-meet-web-config (1.0.4127-1) ...
----------------

You can now switch to a Let’s Encrypt certificate. To do so, execute:
/usr/share/jitsi-meet/scripts/install-letsencrypt-cert.sh

----------------
Selecting previously unselected package jitsi-meet-turnserver.
(Reading database ... 116962 files and directories currently installed.)
Preparing to unpack .../jitsi-meet-turnserver_1.0.4127-1_all.deb ...
Unpacking jitsi-meet-turnserver (1.0.4127-1) ...
Setting up libhiredis0.13:amd64 (0.13.3-2.2) ...
Setting up libevent-core-2.1-6:amd64 (2.1.8-stable-4build1) ...
Setting up libevent-openssl-2.1-6:amd64 (2.1.8-stable-4build1) ...
Setting up mysql-common (5.8+1.0.4) ...
update-alternatives: using /etc/mysql/my.cnf.fallback to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Setting up jitsi-meet-web (1.0.4127-1) ...
Setting up libpq5:amd64 (10.12-0ubuntu0.18.04.1) ...
Setting up libevent-pthreads-2.1-6:amd64 (2.1.8-stable-4build1) ...
Setting up jitsi-meet-prosody (1.0.4127-1) ...
Setting up jicofo (1.0-589-1) ...
Installing new version of config file /etc/jitsi/jicofo/logging.properties ...
Setting up libmysqlclient20:amd64 (5.7.30-0ubuntu0.18.04.1) ...
Setting up libevent-extra-2.1-6:amd64 (2.1.8-stable-4build1) ...
Setting up jitsi-meet (2.0.4627-1) ...
Setting up coturn (4.5.0.7-1ubuntu2.18.04.1) ...
Adding group `turnserver' (GID 120) ...
Done.
Adding system user `turnserver' (UID 114) ...
Adding new user `turnserver' (UID 114) with group `turnserver' ...
Not creating home directory `/'.
Setting up jitsi-meet-turnserver (1.0.4127-1) ...
------------------------------------------------

turnserver is listening on tcp 4445 as other nginx sites use port 443

------------------------------------------------
------------------------------------------------
Warning! Could not resolve your external ip address! Error:^
Your turn server will not work till you edit your /etc/turnserver.conf config file.
You need to set your external ip address in external-ip and restart coturn service.
------------------------------------------------
Processing triggers for systemd (237-3ubuntu10.41) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for ufw (0.36-0ubuntu0.18.04.1) ...
Rules updated for profile 'Nginx Full'
Rules updated for profile 'OpenSSH'
Skipped reloading firewall
Processing triggers for ureadahead (0.100.0-21) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
[master 55eeebb] committing changes in /etc after apt run
 Author: bjorn <bjorn@XX-XX-XX-XX>
 35 files changed, 1038 insertions(+), 8 deletions(-)
 create mode 120000 alternatives/my.cnf
 create mode 100644 default/coturn
 create mode 100755 init.d/coturn
 create mode 100755 init.d/jitsi-videobridge2
 create mode 100644 mysql/conf.d/mysql.cnf
 create mode 100644 mysql/conf.d/mysqldump.cnf
 create mode 120000 mysql/my.cnf
 create mode 100644 mysql/my.cnf.fallback
 create mode 120000 rc0.d/K01coturn
 create mode 120000 rc1.d/K01coturn
 create mode 120000 rc2.d/S01coturn
 create mode 120000 rc3.d/S01coturn
 create mode 120000 rc4.d/S01coturn
 create mode 120000 rc5.d/S01coturn
 create mode 120000 rc6.d/K01coturn
 create mode 120000 systemd/system/jitsi-videobridge.service
 create mode 120000 systemd/system/multi-user.target.wants/jitsi-videobridge2.service
 create mode 100644 turnserver.conf
 create mode 100644 turnserver.conf.bak
 create mode 100644 ufw/applications.d/turnserver
```